.navbar {
  width: 100vw;
}
.body {
  background-color: #1da1f2;
}

label.hide {
  display: none;
}

/* About.js CSS*/
.aboutContainer {
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.aboutOne {
  background-color: white;
  padding-bottom: 20px;
  margin: auto;
  text-align: left;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: darkgray;
}

.aboutTwo {
  padding-top: 20px;
  background-color: white;
  padding-bottom: 20px;
  margin: auto;
  text-align: left;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: darkgray;
}

.aboutThree {
  padding-top: 20px;
  background-color: white;
  padding-bottom: 20px;
  margin: auto;
  text-align: left;
}

/* Login.js CSS */
.body {
  background-color: #1da1f2;
}

.loginFormContainer {
  background-color: #1da1f2;
}

.loginForm {
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  padding-left: 30px;
  font-size: medium;
  background-color: white;
  height: 100vh;
}
.TwitterLoginButton {
  padding-top: 10px;
}

/* Home.js CSS */

.gridContainer {
  background-color: #1da1f2;
}

.homeGrid1 {
  max-width: 1550px;
  margin: auto;
  margin-top: 15px;
  background-color: white;
}

.homeGrid2 {
  max-width: 1550px;
  margin: auto;
  background-color: white;
}

.homeGrid3 {
  max-width: 1550px;

  background-color: white;
}

.homeGrid4{
  background-color: white;
  max-width: 1550px;
}

.homeGrid5{
  background-color: white;
  max-width: 1550px;
}

.SendToPython {
  background-color: white;
  max-width: 1550px;
  height: 50vh;
}

.userFollowingListItem {
  background-color: #a514018c;
  height: 30px;
}
