label.hide{
    display: none;
}


.about{
    font-size: large;
    font-weight: bold;
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.LoginForm{
    font-size: large;
    margin-top: 15px;
}

.TwitterLoginButton{
    margin-top: 15px;
}